<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>WebPortal Login</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就活ポータル.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/img/config.png}" src="../static/img/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- コンテンツ -->
		<div class="container">
		<div class="content-box">
		<h1>受験報告一覧画面</h1>
		
		<div style="text-align:left">
		<p>絞り込み検索</p>
		　　　　　　
		<input type="radio" >日時　　
		<input type="radio" >クラス　　
		<input type="radio" >氏名　　
		<input type="radio" >企業名　　
		<input type="radio" >受験報告状態　　
		
			<div class="input-group">
			  <input type="number" class="form-control" name="zipcode"
				placeholder="検索キーワード">
				 <span class="input-group-btn">
					<button type="submit" class="btn btn-success"onclick="return check()">検索</button>
				</span>
				</div>
				<hr>
		</div>
				<table border="1" class="table">
  		<thead bgcolor = "success">
    		<tr>
      		<th scope="col">氏名</th>
      		<th scope="col">クラス</th>
      		<th scope="col">番号</th>
      		<th scope="col">企業名</th>
      		<th scope="col">受験報告状態</th>
      		<th scope="col">日付</th>
      		<th scope="col">詳細</th>
    		</tr>
  		</thead>
  		<tbody bgcolor = "#f0f0f0">
    		<tr th:each="reportlists : ${reportEntity.reportlist}">
      		<td th:text="${reportlists.user_name}"></td>
      		<td th:text="${reportlists.class_number}"></td>
      		<td th:text="${reportlists.student_number}"></td>
      		<td th:text="${reportlists.company_name}"></td>
      		<td th:text="${reportlists.division}"></td>
      		<td th:text="${reportlists.day}"></td>
      		
      		<td>
      		<form  method="get" th:action="@{/detail}">
      		<button  type="submit" class="btn btn-success">詳細</button>
      		</form>
      		</td>

    		</tr>
  		</tbody>
		</table>
		<div style="text-align:right">
		<!-- <form method="get" th:action="@{/user/insert}"> -->
		<button class="btn btn-outline-light my-2 my-sm-0" type="submit" style = "background-color:orange">作成</button>
		<!-- </form> -->
		</div>
		<form method="post" th:action="@{/report/csv}"> 
	     <button type="submit" class="btn btn-primary">CSV出力</button>
	    </form> 
		</div>
	</div>


	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>