<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>WebPortal Login</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/favicon.ico}" sizes="192x192"
	href="../static/img/favicon.ico">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}"
	sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就活ポータル.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/img/config.png}" src="../static/img/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- コンテンツ -->
		<div class="container">
		<div class="content-box">
		<h1>受験報告詳細画面</h1>
		<hr>
		
		<table border="1" class="table"style="table-layout:fixed;width:100%;">
  		<thead bgcolor = "success">

  		</thead>
  		<tbody bgcolor = "#f0f0f0">
  		 	<tr>
  		 	<th scope="col"width="200"bgcolor = "success">氏名</th>
  		 	<th scope="col">情報太郎</th>
    		</tr>
    		 <tr>
  		 	<th scope="col"bgcolor = "success">クラス</th>
  		 	<th scope="col">S3A3</th>
    		</tr>  	
    		 <tr>
  		 	<th scope="col"bgcolor = "success">番号</th>
  		 	<th scope="col">00</th>
    		</tr> 
    		 <tr>
  		 	<th scope="col"bgcolor = "success">企業名</th>
  		 	<th scope="col">株式会社００</th>
    		</tr> 
    		 <tr>
  		 	<th scope="col"bgcolor = "success">日付</th>
  		 	<th scope="col">2021-07-20</th>
    		</tr> 
    		 <tr>
  		 	<th scope="col"bgcolor = "success">試験会場</th>
  		 	<th scope="col">札幌</th>
    		</tr> 
    		<tr>
    		<th scope="col"bgcolor = "success">試験場所</th>
  		 	<th scope="col">北海道情報専門学校 9F 901教室</th>
    		</tr> 
    		<tr>
    		<th scope="col"bgcolor = "success">試験内容</th>
  		 	<th scope="col">面接</th>
    		</tr> 
    		<tr>
    		<th scope="col"bgcolor = "success">面接内容</th>
  		 	<th scope="col">最終面接</th>
    		</tr> 
    		<tr height = "600" style="word-break:break-all;">
    		<th scope="col"bgcolor = "success">出題内容</th>
  		 	<th scope="col" style="text-align:left">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</th>
    		</tr> 
    		
    		
    	</tbody>
		</table>
		</div>
		</div>




	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>